/node_modules
/public/hot
/public/public/absences/*
/public/storage
/storage/*.key
/vendor
./public/absences/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
